$color-map: (
  "bg": #f2f4f3,
  "text": #0a0908,
  "cursor": #f03a47,
  "graph-bg": #f7f8fa,
  "twitter": #1da1f2,
);

$font-weight-map: (
  "light": 400,
  "medium": 500,
  "bold": 700,
  "dark": 900,
);

$font-size-map: (
  "small": 1vh,
  "normal": 2.5vh,
  "big": 3vh,
  "huge": 7.5vh,
  "xhuge": 8.3vh,
);

@function color($color-name) {
  @return map-get($color-map, $color-name);
}

@function ft-weight($weight) {
  @return map-get($font-weight-map, $weight);
}

@function ft-size($size) {
  @return map-get($font-size-map, $size);
} ;
